body{
	margin-top: 70px;
	font-size: 16px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none !important;
}
p{
	font-family: 'Roboto';
	font-size: 20px;
	margin-left: 60px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.navbar-expand-md {
	border: 0;
	font-family: 'Roboto';
	font-size: 16px;
	background-color: #5C6CB0;
}

.navbar-expand-md img{
	width: 10%;
}

.nav-link{
	color: #fff !important;
}



.nav-item a:hover,button a:hover{
	color: #333 !important;
	}
	

	.btn-outline-primary{
		background-color: #fff;
		color: #5C6CB0;
		border-color: #fff;
		font-family: 'Roboto';
		font-size: 13px;
		text-align: center;
	}

	.btn-outline-primary:hover {
		background-color: #5C6CB0;
		color: #fff !important;
		border-color:#5C6CB0;
	}

	.btn-outline-secondary{
		background-color:#5C6CB0;
		color: #fff;
		border-color: #5C6CB0;
		font-family: 'Roboto';
		font-size: 13px;
		text-align: center;
	}

	.btn-outline-secondary:hover {
		background-color: #fff;
		color: #5C6CB0 !important;
		border-color: #fff;
	}

	img{
		width: 70%;
		height: 20%;
	}

	.wrapper {
			background-color: #fff;
			margin-bottom: 50px;
			padding-bottom: 50px;
			overflow-x: hidden;
	}
	
	#header-hero {
			width: 100%;
			display: block;
			position: relative;
	}
	
	#header-hero .header-bg {
			width: 100%;
	}
	
	#header-hero .header-bg img {
			width: 100%;
			height: 100%;
			object-fit: contain;
	}
	
	p.description {
			padding-top: 30px;
			line-height: 30px;
			font-family: "Poppins";
			font-size: 1.25vw;
			font-style: normal;
			margin-bottom: 5vw;
			text-align: justify;
	}
	
	
	
	@media only screen and (max-width: 375px) {
			#header-hero .header-bg img {
					width: 100%;
					height: 100%;
					object-fit: contain;
			}
	
			.wrapper {
					margin: -30px;
					padding: 20px;
			}
	
			p.description {
					margin-bottom: 5px;
					text-align: left;
					font-size: 13px;
					line-height: 20px;
					padding-bottom: 20px;
			}
	
	}
	
	@media only screen and (max-width: 600px) {
	
			.wrapper {
					margin: -30px;
					padding: 30px;
			}
	
			p.description {
					margin-bottom: 5px;
					text-align: left;
					font-size: 13px;
					line-height: 20px;
					padding-bottom: 20px;
			}
	}
	
	@media only screen and (max-width: 768px) {
	
			.wrapper {
					margin: -30px;
					padding: 30px;
			}
	
			p.description {
				margin-bottom: 5px;
				text-align: left;
				font-size: 13px;
				line-height: 20px;
				padding-bottom: 20px;
		}
	
		.navbar-expand-md	img{
			width: 30%;
		}
	}
	
	
	/* SERVICES */
	.our_courses {
			background: #fff;
			padding: 5% 10%;
			text-align: center;
			margin-bottom: 30px;
	}
	
	.course_member {
			float: left;
			width: 33.3%;
			padding: 10px;
			height: 300px;
	}
	
	.course_member img {
			width: 100%;
			height: 210px;
			transition: all 0.5s ease;
			object-fit: contain;
	}
	
	.our_courses_wrapper:after {
			content: "";
			display: table;
			clear: both;
	}
	
	
	@media screen and (max-width: 600px) {
			.course_member {
					width: 50%;
					padding: 10px;
					height: 220px;
			}
	
			.course_member img {
					width: 100%;
					object-fit: contain;
			}
	}
	
	
	.our_courses_wrapper .course_member:hover img {
			transform: scale(1.1);
			opacity: 0.8;
			cursor: pointer;
	}
	
	.products-header h2 {
			margin: 0 auto;
			padding-top: 60px;
			text-transform: capitalize;
			font-family: "Roboto";
			color: #000000;
			font-size: 1.75vw;
			font-weight: 800;
			line-height: 1;
			text-align: center;
	}
	
	.our_courses_wrapper .course_member p {
			font-size: 15px;
			text-align: center;
			font-family: "Lato Regular";
			padding-top: 10px;
			color: rgba(32, 31, 31, 0.822);
			margin-bottom: 20px;
	}
	
	p.design {
			padding-top: 40px;
			line-height: 30px;
			font-family: "Lato Regular";
			font-size: 1.25vw;
			font-style: normal;
			margin-bottom: 5vw;
			text-align: justify;
	}
	
	p.design span {
			color: #000000;
			font-weight: 800;
	}
	
	@media only screen and (max-width: 375px) {
		.course_member {
			width: 100%;
			padding: 10px;
			height: 220px;
			margin-bottom: 25px;
	}
	
	.course_member img {
			width: 100%;
			object-fit: contain;
	}
	
	
	.our_courses {
		display: block;
		}
	
	.our_courses_wrapper .course {
		display: block;
		}
	
	.our_courses_wrapper .course_member img {
		display: block;
		width: 100%;
		object-fit: contain;
		}
	
			.our_courses_wrapper .course_member p {
					font-size: 12px;
					margin-bottom: 50px;
					text-align: center;
			}
	
			p.design {
					font-size: 13px;
					line-height: 20px;
			}
	
			.products-header h2 {
					font-size: 17px;
					text-align: center;
					display: block;
					position: relative;
			}
	
	}
	
	@media only screen and (max-width: 600px) {
			.our_courses_wrapper .course {
					display: block;
			}
	
	
			.our_courses_wrapper .course_member p {
					font-size: 12px;
					margin-bottom: 50px;
					text-align: center;
			}
	
			p.design {
					font-size: 13px;
					line-height: 20px;
			}
	
			.products-header h2 {
					font-size: 17px;
					text-align: center;
					display: block;
					position: relative;
			}
	}
	
	@media only screen and (max-width: 768px) {
			.our_courses_wrapper .course {
					display: block;
			}
			
	
			.our_courses_wrapper .course_member img {
					width: 100%;
					display: block;
					height: auto;
					object-fit: contain;
			}
	
			.products-header h2 {
				font-size: 20px;
				text-align: center;
				display: block;
				position: relative;
		}
	
			.our_courses_wrapper .course_member p {
					font-size: 12px;
					margin-bottom: 50px;
					text-align: center;
			}
	
			p.design {
					font-size: 13px;
					line-height: 20px;
			}
	} 

	.footer{
		position: fixed;
		left: 0;
		bottom: 0;
		margin-top: 50px;
		width: 100%;
		background-color:#5C6CB0;
		color: white;
		text-align: center;
		}
	
		.footer p{
			font-size: 16px;
			font-family: 'Roboto';
			text-align: center;
			padding-top: 8px;
			margin-top: 8px;
		}